.header {
  position: fixed;
  width: 100%;
  height: auto;
  color: $white_color;
  z-index: 999;
  padding: 4rem 8rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5984768908) 0%, rgba(0, 0, 0, 0) 100%);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-family: 'TA-engeifude';
    font-size: 4rem;
    letter-spacing: 0.5rem;
  }

  .lang-nav {
    display: flex;
    font-family: "Yu Mincho Light";
    .slash__item {
      margin: 0 1rem;
    }
  }
}