html {
	scroll-behavior: smooth;
	font-weight: 600;
	height: 100%;
  background-color: #010101;
  color: white;
}

body {
  position: relative;
	margin: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
  overflow-x: hidden;
}

body#top::before {
  background: url(../img/bg-body.png) top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  opacity: 0.95;
}

.reservation-item {
  writing-mode: vertical-rl;
  position: fixed;
  color: white;
  height: 100%;
  width: 150px;
  right: 0;
  bottom: auto;
  z-index: 99;

  a {
    position: absolute;
    text-decoration: none;
    transition: all 0.3s;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 3.5rem;
    font-family: "YujiSyuku-Regular";

    &:lang(en) {
      font-family: "AGaramondPro";
      letter-spacing: 0.3rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;
    background: linear-gradient(to left, rgba(234, 234, 234, 0.4) 0%, rgba(234, 234, 234, 0.0001) 100%);
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
  }

  &:hover::before {
    opacity: 1;
  }

  @include media('sp') {
    writing-mode: unset;
    width: 100%;
    bottom: 0;
    height: 100px;
    &::before {
      background: linear-gradient(rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.9) 100%);
    }
  }
  
}

.mainvisual {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  z-index: 10;

  &__logo {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center center;
    }

    @include media('sp') {
      width: 25rem;
    }
  }

  .slideshow {
    .item {
      height: 100vh;
      position: relative;
      z-index: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
      &.slick-active img {
        animation: zoomAnimation 10s ease-out forwards;
      }
    }
  }

  @keyframes zoomAnimation {
    from {
      transform: scale(1.15);
    }
    to {
      transform: scale(1);
    }
  }
}

.sec_news {
  text-align: center;
  color: white;
  font-family: "Yu Mincho Light";
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 10rem;

  .news__list {
    width: 100%;
    margin: 25px auto;

    &:lang(en) {
      font-family: "AGaramondPro";
      letter-spacing: 0.1rem;
    }

    .list__item {
      position: relative;
      padding: 1rem;
      line-height: 1.5;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: inline-block;
        width: 75%;
        max-width: 1080px;
        height: 1px;
        background-color: #bbb;
      }
    }
    .news__link {
      p {
        font-size: 2.2rem;;
      }
    }
  } 
}

.sec_about {
  .about__title {
    padding: 8rem 0;
    margin: 3rem auto;
    text-align: center;

    &:lang(en) {
      padding: 10rem 0 2rem;
    }

    @include media('sp') {
      margin: 8rem;
    }
  }

  .about__container {
    margin: 3rem auto 10rem;
    color: white;
    font-size: 2rem;
    font-family: "Yu Mincho Light";
    padding: 0 30rem;
    p {
      margin: 1.5rem 0;
      line-height: 1.5;
    }

    @include media('sp') {
      padding: 0 5rem;
    }

    &:lang(en) {
      font-family: "AGaramondPro";
      word-break: break-word;
      text-align: justify;
      margin: 1rem auto;
      padding: 3rem 25rem;
    }
  }
}

.sec-discover {
  .discover__container {
    width: 85%;
    margin: 5rem auto;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }

    .discover__text {
      padding: 8rem 15rem;
      color: white;
      font-size: 2rem;
      font-family: "Yu Mincho Light";

      p {
        margin: 1.5rem 0;
        line-height: 1.5;
      }

      @include media('sp') {
        padding: 3rem 0;
      }

      &:lang(en) {
        font-family: "AGaramondPro";
        word-break: break-word;
        text-align: justify;
      }
    }
  }
}

.sec-hospitality {
  color: white;
  position: relative;
  min-height: 930px;

  .hospitality__inner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
  }

  .hospitality__title,
  .hospitality__title2 {
    min-height: 900px;
    width: 3400px;
    position: relative;
    z-index: 10;
  }

  .hospitality__image,
  .hospitality__image2 {
    min-height: 900px;
    width: 3400px;
    position: relative;
    z-index: 5;

    img {
      width: 400px;
      height: 240px;
    }
  }

  .hospitality__text,
  .hospitality__text2 {
    min-height: 900px;
    width: 3400px;
    position: relative;
    z-index: 8;

    p {
      line-height: 1;
    }
  }
}

.sec-fragrance {
  .fragrance__container {
    width: 85%;
    margin: 5rem auto;

    img {
      width: 100%;
    }

    .fragrance__title {
      margin: 3rem auto;
      text-align: center;
  
      @include media('sp') {
        margin: 8rem;
      }
    }

    .fragrance__text {
      padding: 8rem 15rem;
      color: white;
      font-size: 2rem;
      font-family: "Yu Mincho Light";
      word-break: break-word;
      text-align: justify;

      p {
        margin: 1.5rem 0;
        line-height: 1.5;
      }

      @include media('sp') {
        padding: 0 0 3rem;
      }

      &:lang(en) {
        font-family: "AGaramondPro";
        margin: 1rem auto;
        padding: 3rem 15rem;
      }
    }
  }
}